Button.css */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #dad7cd;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #026ca0;
}

/* You can add more styles or modifier classes as needed