body {
    background-color: honeydew;
}
.mainMenucontainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.calendarContainer {
    display: block;
    width: 60%;
    text-align: center

}

.calendar-todo-list {
    text-align: left;
    padding: 0;
    list-style: none;
}

.firstrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

#taskList,
#shoppingList {
    background-color: #b0c4b1;
    border-radius: 8px;
    margin: 10px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#taskList p,
#shoppingList p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

#taskList ul,
#shoppingList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#taskList p:last-child,
#shoppingList p:last-child {
    border-bottom: none;
}

#taskList p span,
#shoppingList p span {
    flex-grow: 1;
}

.IconButton {
    margin-left: 8px;
}

.CustomButton {
    display: block;
    margin: 10px auto;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    color: #3a5a40;
    padding: 15px 10px;
}

p{
    color: #3a5a40;
    font-size: 1.0em;
    text-transform: capitalize;
}

.IconButton {
    cursor: pointer;
}

.IconButton:hover svg {
    fill: #4C424A;
}


